/* CSS - Cascading Style Sheet */

.Header{

}

.AboutMe {
  display: flex;
  float: left;
}

#MyFace{
  display: flex;
  float: right;
  width: 200px;
  height: 200px;
}

.OtherCourseWork{

}

.Portfolio{

}

.AboutTheCourse{

}

body {
  background-color: #FFFFFF;
}
h1 {
  color: #960018;
}
h2 {
  color: #960018;
}
h3 {
  color: #960018;
}
h4 {
  color: #960018;
}
h5 {
  color: #960018;
}
p {
  color: #000000;
}
a{
  color: #9C0008;
}




.color-primary-0 { color: #000000 }	/* Main Primary color */
.color-primary-1 { color: #EBEBEB }
.color-primary-2 { color: #960018 }
.color-primary-3 { color: #000000 }
.color-primary-4 { color: #F30026 }

.color-complement-0 { color: #000000 }	/* Main Complement color */
.color-complement-1 { color: #F4F4F4 }
.color-complement-2 { color: #9C0008 }
.color-complement-3 { color: #000000 }
.color-complement-4 { color: #FB000D }
